body {
  position: relative;
  background-color: rgb(40, 40, 40);
  font-family: monospace;
  background: rgb(40, 40, 40),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
}

.cursor {
  animation: blinker 0.5s linear infinite;
}

.prompt {
  color: rgb(255, 176, 0);
  text-shadow: none;
  text-shadow: 0 0 0.5rem rgb(255, 176, 0), 1px 0 1px rgba(255, 0, 0, 1),
    -1px 0 1px rgba(0, 0, 255, 1);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.input {
  margin: 1rem;
}

pre {
  margin-left: 0;
}

.input-text {
  display: none;
}
