body {
  background-color: black;
  font-family: monospace;
  background: black,
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
}

.cursor {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.input {
  margin: 1rem;
}

pre {
  margin-left: 0;
}
